#################################################
# ================= BACKEND (.NET) =============
#################################################

# Build
bin/
obj/

# User / VS files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Sensitive config
appsettings.Development.json
appsettings.Local.json
.env

#################################################
# ================= IDEs =======================
#################################################

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains
.idea/

# Others
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


#################################################
# ================= SYSTEM =====================
#################################################

.DS_Store
Thumbs.db


#################################################
# ================= TEMP =======================
#################################################

tmp/
temp/